body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    text-align: justify;
    background-color: #f8f8f8
}

h2 {
    font-size: 28px;
    color: #646056;
    font-style: italic;
    text-align: center;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: rebeccapurple;
}



/* Стилі списків */
#categories ul{
    list-style-type: none;
}
ul, ol, dl {
    margin: 20px;
    padding: 15px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
li{
    margin-left: 20px;
}
dl {
    border-left: 4px solid #646056;
    padding-left: 20px;
}

dt {
    font-weight: bold;
    color: #646056;
    font-size: 18px;
}

dd {
    margin: 5px 0 15px 20px;
    color: #555;
    font-size: 16px;
}


/* Стилі таблиці */
#table_section table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: white;
}

#table_section th {
    background-color: #0277bd;
    color: white;
    padding: 12px;
    border: 2px solid #01579b;
    text-align: center;
    font-size: 18px;
}

#table_section td {
    padding: 10px;
    border: 1px solid #ccc;
}

.left-align {
    text-align: left;
}
.center-align {
    text-align: center;
}
.right-align {
    text-align: right;
}

#table_section tr:nth-child(even) {
    background-color: #e3f2fd;
}

#table_section tr:last-child {
    background-color: #b3e5fc;
    font-weight: bold;
}
